.App {
  text-align: center;
}

.imganime
{
  animation: anime 0.5s ease-in 1;
}

@keyframes anime
{
  0%{
    opacity: 0.3;
    transform: scale(0.1);
  }
    100%{
    opacity: 1;
    transform: scale(1) rotate(720deg);
  }
}